.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.glitch-container {
  position: relative;
  margin: 20px 0;
}

.glitch-container img {
  max-width: 100%;
}

#glitched-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.glitched {
  opacity: 1;
}
